


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."department_type" AS ENUM (
    'verificare_initiala',
    'verificare_tehnica',
    'verificare_finala'
);


ALTER TYPE "public"."department_type" OWNER TO "postgres";


CREATE TYPE "public"."document_category_type" AS ENUM (
    'cerere_cetatean',
    'act_administrativ',
    'contract',
    'raport'
);


ALTER TYPE "public"."document_category_type" OWNER TO "postgres";


CREATE TYPE "public"."user_role" AS ENUM (
    'admin',
    'angajat',
    'cetatean'
);


ALTER TYPE "public"."user_role" OWNER TO "postgres";


CREATE TYPE "public"."workflow_stage" AS ENUM (
    'submitted',
    'review_step1',
    'review_step2',
    'review_step3',
    'completed',
    'rejected'
);


ALTER TYPE "public"."workflow_stage" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."assign_to_me"("p_doc_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_stage workflow_stage;
BEGIN
  SELECT workflow_stage INTO v_stage FROM public.documents WHERE id = p_doc_id;

  -- Dac─â e prima preluare (din coad─â), schimb─âm stadiul
  IF v_stage = 'submitted' THEN
      UPDATE public.documents
      SET workflow_stage = 'review_step1', current_assignee = auth.uid(), updated_at = now()
      WHERE id = p_doc_id;
      
      INSERT INTO public.workflow_history (document_id, from_stage, to_stage, action_by, action_type, comment)
      VALUES (p_doc_id, 'submitted', 'review_step1', auth.uid(), 'stage_change', 'Preluat din coada initiala.');
      RETURN;
  END IF;

  -- Altfel doar asign─âm
  UPDATE public.documents
  SET current_assignee = auth.uid(), updated_at = now()
  WHERE id = p_doc_id;
  
  INSERT INTO public.workflow_history (document_id, action_by, action_type, comment)
  VALUES (p_doc_id, auth.uid(), 'comment', 'A preluat dosarul ├«n lucru.');
END;
$$;


ALTER FUNCTION "public"."assign_to_me"("p_doc_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_department_workload"("p_dept" "public"."department_type") RETURNS TABLE("id" "uuid", "full_name" "text", "active_tasks" bigint)
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT 
    p.id, 
    p.full_name,
    (
      SELECT COUNT(*) 
      FROM public.documents d 
      WHERE d.current_assignee = p.id 
      AND d.workflow_stage NOT IN ('completed', 'rejected') -- Num─âr─âm doar ce e ├«n lucru!
    ) as active_tasks
  FROM public.profiles p
  WHERE p.role = 'angajat' AND p.department = p_dept
  ORDER BY active_tasks ASC; -- Cei mai liberi apar primii
$$;


ALTER FUNCTION "public"."get_department_workload"("p_dept" "public"."department_type") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_least_loaded_employee"("p_dept" "public"."department_type") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_target_id uuid;
BEGIN
  SELECT id INTO v_target_id
  FROM public.get_department_workload(p_dept) -- Refolosim logica de sus
  LIMIT 1; -- ├Äl lu─âm pe primul (care e cel mai liber)
  
  RETURN v_target_id;
END;
$$;


ALTER FUNCTION "public"."get_least_loaded_employee"("p_dept" "public"."department_type") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_processed_documents"() RETURNS TABLE("id" "uuid", "title" "text", "description" "text", "category" "public"."document_category_type", "current_stage" "public"."workflow_stage", "my_action" "text", "action_date" timestamp with time zone, "submitter_name" "text")
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    d.id,
    d.title,
    d.description,
    d.category,
    d.workflow_stage as current_stage,
    h.action_type as my_action,
    h.created_at as action_date,
    p.full_name as submitter_name
  FROM public.workflow_history h
  JOIN public.documents d ON h.document_id = d.id
  LEFT JOIN public.profiles p ON d.uploaded_by = p.id
  WHERE 
    h.action_by = auth.uid() -- Doar ac╚¢iunile MELE
    AND h.action_type IN ('stage_change', 'rejection') -- Doar Aprob─âri sau Respingeri (ignor─âm comentarii/semn─âturi simple)
  ORDER BY h.created_at DESC;
END;
$$;


ALTER FUNCTION "public"."get_my_processed_documents"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_file_delete_log"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Verific─âm dac─â documentul p─ârinte ├«nc─â exist─â. 
  -- Dac─â a fost ╚Öters ╚Öi el (prin CASCADE), nu mai are sens s─â scriem ├«n istoric 
  -- (pentru c─â ╚Öi istoricul va fi ╚Öters).
  IF EXISTS (SELECT 1 FROM public.documents WHERE id = OLD.document_id) THEN
      INSERT INTO public.workflow_history (
        document_id,
        action_by,
        action_type,
        comment,
        created_at
      )
      VALUES (
        OLD.document_id,
        auth.uid(),
        'file_delete',
        'A ╚Öters fi╚Öierul: ' || OLD.file_name,
        NOW()
      );
  END IF;
  
  RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."handle_file_delete_log"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
BEGIN
  INSERT INTO public.profiles (id, email, role)
  VALUES (new.id, new.email, 'cetatean');
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."log_new_file"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.workflow_history (document_id, action_by, action_type, comment)
  VALUES (
    new.document_id, 
    new.uploaded_by, 
    'file_upload', 
    'A ata╚Öat documentul: ' || new.file_name
  );
  RETURN new;
END;
$$;


ALTER FUNCTION "public"."log_new_file"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_reason" "text" DEFAULT NULL::"text", "p_target_assignee" "uuid" DEFAULT NULL::"uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_current_stage workflow_stage;
  v_next_stage workflow_stage;
BEGIN
  SELECT workflow_stage INTO v_current_stage FROM public.documents WHERE id = p_doc_id;

  -- A. RESPINGERE (R─âm├óne neschimbat─â)
  IF p_action = 'reject' THEN
    UPDATE public.documents
    SET workflow_stage = 'rejected', rejection_reason = p_reason, current_assignee = NULL, updated_at = now()
    WHERE id = p_doc_id;
    
    INSERT INTO public.workflow_history (document_id, from_stage, to_stage, action_by, action_type, comment)
    VALUES (p_doc_id, v_current_stage, 'rejected', auth.uid(), 'rejection', p_reason);
    RETURN;
  END IF;

  -- B. APROBARE (Logic─â nou─â)
  IF p_action = 'approve' THEN
    -- Calcul─âm stadiul urm─âtor
    CASE v_current_stage
      WHEN 'review_step1' THEN v_next_stage := 'review_step2';
      WHEN 'review_step2' THEN v_next_stage := 'review_step3';
      WHEN 'review_step3' THEN v_next_stage := 'completed';
      ELSE RAISE EXCEPTION 'Stadiul % nu permite aprobare.', v_current_stage;
    END CASE;

    -- Update document: Dac─â avem target, ├«l punem pe el. Dac─â nu, punem NULL (Queue).
    UPDATE public.documents
    SET 
      workflow_stage = v_next_stage,
      current_assignee = p_target_assignee, -- Aici se decide dac─â merge la om sau la gr─âmad─â
      updated_at = now(),
      completed_at = (CASE WHEN v_next_stage = 'completed' THEN now() ELSE completed_at END)
    WHERE id = p_doc_id;

    -- Scriem ├«n istoric ce s-a ├«nt├ómplat
    INSERT INTO public.workflow_history (document_id, from_stage, to_stage, action_by, action_type, comment)
    VALUES (
      p_doc_id, 
      v_current_stage, 
      v_next_stage, 
      auth.uid(), 
      'stage_change', 
      CASE WHEN p_target_assignee IS NOT NULL 
           THEN 'Aprobat ╚Öi asignat direct c─âtre coleg.'
           ELSE 'Aprobat ╚Öi trimis ├«n coada general─â.'
      END
    );
  END IF;
END;
$$;


ALTER FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_reason" "text", "p_target_assignee" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_target_assignee" "uuid" DEFAULT NULL::"uuid", "p_reason" "text" DEFAULT NULL::"text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_current_stage workflow_stage;
  v_next_stage workflow_stage;
  v_new_assignee uuid;
BEGIN
  -- 1. Afl─âm stadiul curent
  SELECT workflow_stage INTO v_current_stage 
  FROM public.documents 
  WHERE id = p_doc_id;

  -- 2. LOGIC─é PENTRU RESPINGERE
  IF p_action = 'reject' THEN
    UPDATE public.documents
    SET workflow_stage = 'rejected',
        current_assignee = NULL, -- Nu mai e la nimeni
        updated_at = NOW()
    WHERE id = p_doc_id;

    -- Not─âm ├«n istoric
    INSERT INTO public.workflow_history (document_id, action_type, action_by, details, previous_stage, new_stage)
    VALUES (p_doc_id, 'rejection', auth.uid(), p_reason, v_current_stage, 'rejected');

    RETURN;
  END IF;

  -- 3. LOGIC─é PENTRU APROBARE
  IF p_action = 'approve' THEN
    
    -- Determin─âm pasul urm─âtor
    IF v_current_stage = 'submitted' THEN
      v_next_stage := 'review_step1'; -- Merge la Tehnic
    ELSIF v_current_stage = 'review_step1' THEN
      v_next_stage := 'review_step2'; -- Merge la Director
    ELSIF v_current_stage = 'review_step2' THEN
      v_next_stage := 'completed';    -- Finalizat
    ELSE
      RAISE EXCEPTION 'Documentul este deja finalizat sau ├«ntr-un stadiu necunoscut.';
    END IF;

    -- Determin─âm cine ├«l ia (Dac─â s-a specificat un target, ├«l punem pe el, altfel NULL pt coada comun─â)
    IF v_next_stage = 'completed' THEN
      v_new_assignee := NULL; -- La finalizat nu mai are assignee
    ELSE
      v_new_assignee := p_target_assignee; 
    END IF;

    -- Execut─âm Update-ul (AICI D─éDEA EROAREA ├ÄNAINTE)
    UPDATE public.documents
    SET workflow_stage = v_next_stage,
        current_assignee = v_new_assignee,
        updated_at = NOW()
    WHERE id = p_doc_id;

    -- Not─âm ├«n istoric
    INSERT INTO public.workflow_history (document_id, action_type, action_by, previous_stage, new_stage)
    VALUES (p_doc_id, 'stage_change', auth.uid(), v_current_stage, v_next_stage);
    
    RETURN;
  END IF;

  RAISE EXCEPTION 'Actiune necunoscuta: %', p_action;
END;
$$;


ALTER FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_target_assignee" "uuid", "p_reason" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."remove_my_signature"("doc_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- 1. ╚ÿtergem din tabela SIGNATURES
  -- Caut─â r├óndul unde documentul corespunde ╚ÿI semnatarul este utilizatorul curent
  DELETE FROM public.signatures
  WHERE document_id = doc_id 
  AND signed_by = auth.uid();

  -- 2. ╚ÿtergem din WORKFLOW_HISTORY
  -- ╚ÿterge doar intr─ârile de tip 'signature' f─âcute de MINE
  DELETE FROM public.workflow_history
  WHERE document_id = doc_id
  AND action_by = auth.uid()
  AND (
      action_type = 'signature' 
      OR comment ILIKE '%semnat digital%'
      OR comment ILIKE '%semnat%'
  );

  -- Am scos partea cu UPDATE documents, care cauza eroarea.
END;
$$;


ALTER FUNCTION "public"."remove_my_signature"("doc_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."revoke_approval"("doc_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- 1. Reset─âm Documentul (├«l aducem la stadiul de lucru)
  UPDATE public.documents
  SET 
    workflow_stage = 'review_step1', -- Sau pasul la care vrei s─â revin─â
    signed_by = NULL,
    signed_at = NULL,
    signature_hash = NULL,
    current_assignee = auth.uid()
  WHERE id = doc_id;

  -- 2. ╚ÿtergem din Istoric linia cu comentariul specific
  DELETE FROM public.workflow_history
  WHERE document_id = doc_id 
  AND (
      -- Condi╚¢ii generale
      to_stage = 'completed'
      OR action_type = 'signature'
      
      -- Condi╚¢ii de text (Aici e cheia)
      OR comment ILIKE '%semnat%'
      OR comment ILIKE '%certificat%'       -- Va prinde cuv├óntul "Certificat_Aprobare..."
      OR comment ILIKE '%generat ╚Öi semnat%' -- Fix fraza ta
  );

END;
$$;


ALTER FUNCTION "public"."revoke_approval"("doc_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  INSERT INTO public.signatures (document_id, signed_by, signature_text, workflow_stage)
  VALUES (p_doc_id, auth.uid(), p_signature_text, (SELECT workflow_stage FROM public.documents WHERE id = p_doc_id));

  INSERT INTO public.workflow_history (document_id, action_by, action_type, comment)
  VALUES (p_doc_id, auth.uid(), 'signature', 'Document semnat digital.');
END;
$$;


ALTER FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text", "p_file_id" "uuid" DEFAULT NULL::"uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_file_name text := '';
BEGIN
  -- Dac─â semn─âm un fi╚Öier specific, ├«i afl─âm numele pentru istoric
  IF p_file_id IS NOT NULL THEN
      SELECT file_name INTO v_file_name FROM public.document_files WHERE id = p_file_id;
      
      -- Marc─âm fi╚Öierul ca semnat vizual (bifa verde)
      UPDATE public.document_files SET is_signed = true WHERE id = p_file_id;
  END IF;

  -- Inser─âm semn─âtura oficial─â
  INSERT INTO public.signatures (document_id, file_id, signed_by, signature_text, workflow_stage)
  VALUES (
      p_doc_id, 
      p_file_id, 
      auth.uid(), 
      p_signature_text, 
      (SELECT workflow_stage FROM public.documents WHERE id = p_doc_id)
  );

  -- Not─âm ├«n istoric
  INSERT INTO public.workflow_history (document_id, action_by, action_type, comment)
  VALUES (
      p_doc_id, 
      auth.uid(), 
      'signature', 
      CASE WHEN p_file_id IS NOT NULL 
           THEN 'A semnat documentul specific: ' || v_file_name
           ELSE 'A semnat/validat tot dosarul.' 
      END
  );
END;
$$;


ALTER FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text", "p_file_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."document_files" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "document_id" "uuid",
    "file_url" "text" NOT NULL,
    "file_name" "text" NOT NULL,
    "uploaded_by" "uuid",
    "is_signed" boolean DEFAULT false,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."document_files" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "title" "text" NOT NULL,
    "description" "text",
    "category" "public"."document_category_type" DEFAULT 'cerere_cetatean'::"public"."document_category_type",
    "workflow_stage" "public"."workflow_stage" DEFAULT 'submitted'::"public"."workflow_stage",
    "current_assignee" "uuid",
    "uploaded_by" "uuid" NOT NULL,
    "rejection_reason" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "completed_at" timestamp with time zone
);


ALTER TABLE "public"."documents" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."document_stats" AS
 SELECT "workflow_stage",
    "count"(*) AS "total_count"
   FROM "public"."documents"
  GROUP BY "workflow_stage";


ALTER VIEW "public"."document_stats" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text",
    "full_name" "text",
    "role" "public"."user_role" DEFAULT 'cetatean'::"public"."user_role",
    "department" "public"."department_type",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."signatures" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "document_id" "uuid",
    "file_id" "uuid",
    "signed_by" "uuid",
    "signature_text" "text",
    "workflow_stage" "public"."workflow_stage",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."signatures" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."workflow_history" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "document_id" "uuid",
    "from_stage" "public"."workflow_stage",
    "to_stage" "public"."workflow_stage",
    "action_by" "uuid",
    "action_type" "text",
    "comment" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "action_type_check" CHECK (("action_type" = ANY (ARRAY['stage_change'::"text", 'rejection'::"text", 'comment'::"text", 'signature'::"text", 'file_upload'::"text", 'file_delete'::"text"])))
);


ALTER TABLE "public"."workflow_history" OWNER TO "postgres";


ALTER TABLE ONLY "public"."document_files"
    ADD CONSTRAINT "document_files_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."signatures"
    ADD CONSTRAINT "signatures_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."workflow_history"
    ADD CONSTRAINT "workflow_history_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_documents_assignee" ON "public"."documents" USING "btree" ("current_assignee");



CREATE INDEX "idx_documents_category" ON "public"."documents" USING "btree" ("category");



CREATE INDEX "idx_documents_created_at" ON "public"."documents" USING "btree" ("created_at");



CREATE INDEX "idx_documents_description_search" ON "public"."documents" USING "gin" ("description" "public"."gin_trgm_ops");



CREATE INDEX "idx_documents_stage" ON "public"."documents" USING "btree" ("workflow_stage");



CREATE INDEX "idx_documents_title_search" ON "public"."documents" USING "gin" ("title" "public"."gin_trgm_ops");



CREATE INDEX "idx_documents_uploaded_by" ON "public"."documents" USING "btree" ("uploaded_by");



CREATE OR REPLACE TRIGGER "on_file_delete" AFTER DELETE ON "public"."document_files" FOR EACH ROW EXECUTE FUNCTION "public"."handle_file_delete_log"();



CREATE OR REPLACE TRIGGER "on_file_uploaded" AFTER INSERT ON "public"."document_files" FOR EACH ROW EXECUTE FUNCTION "public"."log_new_file"();



ALTER TABLE ONLY "public"."document_files"
    ADD CONSTRAINT "document_files_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."document_files"
    ADD CONSTRAINT "document_files_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_current_assignee_fkey" FOREIGN KEY ("current_assignee") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."documents"
    ADD CONSTRAINT "documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."signatures"
    ADD CONSTRAINT "signatures_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."signatures"
    ADD CONSTRAINT "signatures_file_id_fkey" FOREIGN KEY ("file_id") REFERENCES "public"."document_files"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."signatures"
    ADD CONSTRAINT "signatures_signed_by_fkey" FOREIGN KEY ("signed_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."workflow_history"
    ADD CONSTRAINT "workflow_history_action_by_fkey" FOREIGN KEY ("action_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."workflow_history"
    ADD CONSTRAINT "workflow_history_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."documents"("id") ON DELETE CASCADE;



CREATE POLICY "Admin Full Access" ON "public"."documents" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'admin'::"public"."user_role")))));



CREATE POLICY "Angajat Update Assigned" ON "public"."documents" FOR UPDATE USING (("current_assignee" = "auth"."uid"()));



CREATE POLICY "Angajati vad tot" ON "public"."documents" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'angajat'::"public"."user_role"]))))));



CREATE POLICY "Angajatii pot prelua dosare din coada" ON "public"."documents" FOR UPDATE USING ((("current_assignee" IS NULL) AND (EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'angajat'::"public"."user_role")))))) WITH CHECK (("current_assignee" = "auth"."uid"()));



CREATE POLICY "Angajatii vad alti angajati" ON "public"."profiles" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Cetatean Insert Own" ON "public"."documents" FOR INSERT WITH CHECK (("auth"."uid"() = "uploaded_by"));



CREATE POLICY "Cetatean View Own" ON "public"."documents" FOR SELECT USING (("auth"."uid"() = "uploaded_by"));



CREATE POLICY "Cetateni vad doar ale lor" ON "public"."documents" FOR SELECT USING (("auth"."uid"() = "uploaded_by"));



CREATE POLICY "Citire istoric" ON "public"."workflow_history" FOR SELECT USING (true);



CREATE POLICY "Citizens can delete pending requests" ON "public"."documents" FOR DELETE USING ((("uploaded_by" = "auth"."uid"()) AND ("workflow_stage" = 'submitted'::"public"."workflow_stage") AND ("current_assignee" IS NULL)));



CREATE POLICY "Employees can delete files" ON "public"."document_files" FOR DELETE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'angajat'::"public"."user_role")))));



CREATE POLICY "Enable insert for authenticated users only" ON "public"."workflow_history" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Enable read access for all users" ON "public"."workflow_history" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Func Verificare Finala View" ON "public"."documents" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'angajat'::"public"."user_role") AND ("profiles"."department" = 'verificare_finala'::"public"."department_type")))) AND ("workflow_stage" = 'review_step3'::"public"."workflow_stage")));



CREATE POLICY "Func Verificare Initiala View" ON "public"."documents" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'angajat'::"public"."user_role") AND ("profiles"."department" = 'verificare_initiala'::"public"."department_type")))) AND (("workflow_stage" = 'submitted'::"public"."workflow_stage") OR ("workflow_stage" = 'review_step1'::"public"."workflow_stage"))));



CREATE POLICY "Func Verificare Tehnica View" ON "public"."documents" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'angajat'::"public"."user_role") AND ("profiles"."department" = 'verificare_tehnica'::"public"."department_type")))) AND ("workflow_stage" = 'review_step2'::"public"."workflow_stage")));



CREATE POLICY "Insert Files If Auth" ON "public"."document_files" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Oricine poate crea documente" ON "public"."documents" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Preluare dosar din coada" ON "public"."documents" FOR UPDATE USING (("current_assignee" IS NULL)) WITH CHECK (("current_assignee" = "auth"."uid"()));



CREATE POLICY "Procesare dosar propriu" ON "public"."documents" FOR UPDATE USING (("current_assignee" = "auth"."uid"())) WITH CHECK (true);



CREATE POLICY "Scriere istoric" ON "public"."workflow_history" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can delete own signatures" ON "public"."signatures" FOR DELETE USING (("auth"."uid"() = "signed_by"));



CREATE POLICY "Users can insert own signatures" ON "public"."signatures" FOR INSERT WITH CHECK (("auth"."uid"() = "signed_by"));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can view signatures" ON "public"."signatures" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "View Files If Auth" ON "public"."document_files" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "View History If Auth" ON "public"."workflow_history" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "View Signatures If Auth" ON "public"."signatures" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."document_files" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."signatures" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."workflow_history" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."assign_to_me"("p_doc_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."assign_to_me"("p_doc_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."assign_to_me"("p_doc_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_department_workload"("p_dept" "public"."department_type") TO "anon";
GRANT ALL ON FUNCTION "public"."get_department_workload"("p_dept" "public"."department_type") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_department_workload"("p_dept" "public"."department_type") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_least_loaded_employee"("p_dept" "public"."department_type") TO "anon";
GRANT ALL ON FUNCTION "public"."get_least_loaded_employee"("p_dept" "public"."department_type") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_least_loaded_employee"("p_dept" "public"."department_type") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_my_processed_documents"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_my_processed_documents"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_my_processed_documents"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_file_delete_log"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_file_delete_log"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_file_delete_log"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."log_new_file"() TO "anon";
GRANT ALL ON FUNCTION "public"."log_new_file"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."log_new_file"() TO "service_role";



GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_reason" "text", "p_target_assignee" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_reason" "text", "p_target_assignee" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_reason" "text", "p_target_assignee" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_target_assignee" "uuid", "p_reason" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_target_assignee" "uuid", "p_reason" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."process_document"("p_doc_id" "uuid", "p_action" "text", "p_target_assignee" "uuid", "p_reason" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."remove_my_signature"("doc_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."remove_my_signature"("doc_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."remove_my_signature"("doc_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."revoke_approval"("doc_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."revoke_approval"("doc_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."revoke_approval"("doc_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text", "p_file_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text", "p_file_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."sign_document"("p_doc_id" "uuid", "p_signature_text" "text", "p_file_id" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."document_files" TO "anon";
GRANT ALL ON TABLE "public"."document_files" TO "authenticated";
GRANT ALL ON TABLE "public"."document_files" TO "service_role";



GRANT ALL ON TABLE "public"."documents" TO "anon";
GRANT ALL ON TABLE "public"."documents" TO "authenticated";
GRANT ALL ON TABLE "public"."documents" TO "service_role";



GRANT ALL ON TABLE "public"."document_stats" TO "anon";
GRANT ALL ON TABLE "public"."document_stats" TO "authenticated";
GRANT ALL ON TABLE "public"."document_stats" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."signatures" TO "anon";
GRANT ALL ON TABLE "public"."signatures" TO "authenticated";
GRANT ALL ON TABLE "public"."signatures" TO "service_role";



GRANT ALL ON TABLE "public"."workflow_history" TO "anon";
GRANT ALL ON TABLE "public"."workflow_history" TO "authenticated";
GRANT ALL ON TABLE "public"."workflow_history" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







